{% extends 'partials/base.html.twig' %}

{% block content %}
    <section class="v-background">

        <div class="container row">
            <nav class="nav-lang nav-lang-short ml-auto">
                <button class="btn btn-outline-dark btn-lg" style="background: rgba(0,0,0,0)">
                    <a href="{{ base_url_simple }}/fr" aria-label="Français" class="text-dark">FR</a>
                </button>

                <button class="btn btn-outline-dark btn-lg" style="background: rgba(0,0,0,0)">
                    <a href="{{ base_url_simple }}/de" aria-label="Deutsch" class="text-dark">DE</a>
                </button>
            </nav>
        </div>


        <div class="container">
            <div class="row">

                <div class="container">
                    <div class="row">
                        <div class="align-right mt-3">
                            <button class="btn btn-outline-dark btn-lg" style="background: rgba(0,0,0,0)" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="500">
                                <a href="{{ base_url_simple }}" style="color: rgba(0,0,0)">Retour</a>
                            </button>
                        </div>
                {% for titre in header.titres %}
                    <h1 class="display-1 mb-5" data-aos="fade-right">{{titre.titre}}</h1>
                    <h2 class="display-3">Dates clefs</h2>
                {% endfor %}
            </div>
        </div>

        <div class="container mt-5">
            <div class="row">

                {% for date in header.dates %}
                    <p><b style="font-size: 20px">{{ date.date }}</b> : {{ date.description }}</p>
                {% endfor %}
            </div>
        </div>
            </div>
        </div>

    </section>
{% endblock %}

{% block footer %}
{% endblock %}