{% extends 'partials/base.html.twig' %}

{% block content %}
    <section class="v-background">

        <div class="container">
            <div class="row">
                <h1 class="v-h1">Voies <br> citoyennes</h1>
                <h2 class="v-h2 mb-5">50 ans du suffrage féminin</h2>


                {% for para in page.header.paragraphes %}
                <div class="v-box">
                    <p class="fs-4">{{ para.description }}</p>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="container">
            <div class="row">
            {% for card in page.header.cards %}
            <div class="col-sm-3 col-sm-4 mt-5">
                            <a href="{{ card.uri }}" class="card link-trapeze-horizontal">
                                <div class="card-body">
                                    <picture class="card-img-top">
                                        <img src="{{ card.image }}" class="img-fluid" title="{{ card.title }}" alt="{{ card.title }}" />
                                    </picture>

                                        <h3 class="card-title" style="overflow-wrap: initial;">{{ card.title }}</h3>
                                        <p class="card-text">{{ card.text }}</p>

                                </div>
                            </a>
                    </div>
            {% endfor %}
            </div>
        </div>


    </section>
{% endblock %}

{% block footer %}
{% endblock %}